<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<h1><b><center>Medical Conditions<center><b></h1>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
    <table>
    <tr>
      <th>Age</th>
      <th>Ethnicity</th>
      <th>Gender</th>
    </tr>
    {{#each state}}
    <tr>
    <td>{{this.age}}</td>
    <td>{{this.ethnicity}}</td>
    <td>{{this.gender}}</td>
  </tr>
  {{/each}}
  </table>
	</body>
</html>
