<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet/less" type="text/css" href="main.less" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
</head>
	<body>
    <div class="jumbotron container"><center><h1><b>This is the About Page for Medical Check-In<b></h1>
      <h2>Read more below:</h2>
      Diabetes - Diabetes mellitus, (otherwise known as diabetes), is a
      disease in which your blood glucose, or blood sugar, levels are too high.
      (More infor to follow).
      <br>
      <br>
      Asthma - Difficulty breathing. (More info to follow).
      <br>
      <br>
      Arthritis - Pain found in joints. (More info to follow).
      <br>
      <br>
      Chronic Kidney Disease - Disease in kidneys which ultimately leads to renal
      failure. (More info to follow).
      <br>
      <br>
      Cardiovascular Disease - Heart conditions that is associated with diseased
      vessels, structural problems, and blood clots. (More info to follow).
      <br>
      <br>
    <center><h1><a href="/links">More Links</a> <b>|<b> <a href="/">Home</a></h1></center></div>
	</body>
</html>
