<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add a Site</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet/less" type="text/css" href="main.less" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
</head>
	<body>
    <div class="jumbotron container"><center><h1><b>Add a Site<b></h1>
      <h2>Medical sites:</h2>
      <center>Here are some sites that are available to learn more about these specific diseases - </center>
			<style>
	    table, th, td {
	      border: 1px solid black;
	      border-collapse: collapse;
				text-align: center;
	    }
	    </style>
			<table class="table text-center">
		    <tr>
				<th>Sites</th>
		    </tr>
			<tbody>
				<tr>
					{{#each sites}}
				</tr>
				<td>{{this.url}}</td>
		  	{{/each}}
			</tbody>
		</table>

        <br>
        <br>
      <center>Please feel free to add a site that you think users would find helpful: </center>
			<br>
			<br>

    <!-- <form method="GET" action="/links"><center> -->
      <!-- <input type="text" name="site"> -->
    <!-- </center></form> -->

    <!--<hr> -->
    <!--<ul> -->
    <!--{{#each sites}} -->
      <!--<p>{{this.url}} </p> -->
    <!--{{/each}}-->
    <!--</ul>-->
    <!--<hr> -->

    <form method="POST" action="/link"><center>
			<label></label><input type="text" name="url" placeholder="url" required />
			<input type="submit" value="Add" class = "btn btn-success" /></center></form>

    <center><h1><a href="/about">About</a> <b>|<b> <a href="/layout">Home</a></h1></center></div>
	</body>
</html>
