<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<h1><b><center>Data Information<center><b></h1>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
    <table>
    <tr>
      <th>Age</th>
      <th>Gender</th>
      <th>State</th>
			<th>Ethnicity</th>
    </tr>
		<tbody>
	    {{#each infos as |info|}}
	    <tr>
	    	<td>{{info.age}}</td>
	    	<td>{{info.gender}}</td>
	    	<td>{{info.state}}</td>
				<td>{{info.ethnicity}}</td>
	  	</tr>
	  	{{/each}}
	</tbody>
  </table>
	<center><h1><a href="/about">About</a> <b>|<b> <a href="/">Home</a></h1> <b>|<b> <a href="/links">More Links</a></center>
	</body>
</html>
