<!--Usage of bootstrap for research topic -->
<!DOCTYPE html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet/less" type="text/css" href="main.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

</head>
<body>
		<h1><center>Welcome to Medical Check-In<center/></h1>
		<h2><center>Click on a certain medical condition you would like to know more about<center/></h2>
    <hr />

    <form method="POST" action="/data">
      <center>
        <input type="radio" name="disease" value="diabetes" required> Diabetes
        <input type="radio" name="disease" value="asthma" required> Asthma
        <input type="radio" name="disease" value="arthritis" required> Arthritis
        <input type="radio" name="disease" value="chronic_kidney_disease" required> Chronic Kidney Disease
        <input type="radio" name="disease" value="cardiovascular_disease" required> Cardiovascular Disease
      <center/>

			<hr />
		  <center>This site is designated to inform you more about the health qualities in the Northeastern states: <center/>
      <!-- <ul>
        {{#each option as |n|}}
        	<p>{{n.gender}} ({{n.age}}) {{n.ethnicity}} | {{n.state}}</p>
        {{/each}}
      </ul>-->
      <hr />
      <div class="jumbotron container">
        <center>Please enter the following information: <center/><br/>
      	Gender (M or F): <input type="text" name="gender" required>
        <br>
        <br>
      	Age: <input type="text" name="age" required>
        <br>
        <br>
      	State: <select name = "state">
					<option value="CT">Connecticut</option>
					<option value="ME">Maine</option>
					<option value="RI">Rhode Island</option>
					<option value="VT">Vermont</option>
					<option value="MA">Maine</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NY">New York</option>
					<option value="PA">Pennsylvania</option>
				</select>

				<!--<input type="text" name="state" required> -->
        <br>
        <br>
				Ethnicity: <select name = "ethnicity">
					<option value="Asian">Asian</option>
					<option value="Latino/Hispanic">Latino/Hispanic</option>
					<option value="Caucasian">Cacuasian</option>
					<option value="African American">African American</option>
					<option value="Indian">Indian</option>
				</select>

				<!--<input type="text" name="ethnicity" required> -->
				<br>
				<br>
				<br>
      <input type="submit" value="Submit" class= "btn btn-success" />
			<br>
			<br>
  		<center>
        <h1><a href="/links">More Links</a> <b>|<b> <a href="/about">About</a></h1>
      </center>
    </div>
  </form>
</body>
</html>
