Working on less (pseudocode):

This will present the background color and text color:

@background-color: #ff8c00;
@text-color: #ff8c00;

p{
  background-color: @background-color;
  color: @text-color;
  padding: 20px;
}

ul{
  background-color: @background-color;
}

li{
  color: @text-color;
}


body{
	margin: 30px;
	font-family: Georgia, serif;
	color: #ff8c00;
	background-color: #ff8c00;
}

h1 {
	color: #00008b;
	font-size: 40px;
}

h2 {
	color: #b22222;
}

div {
	padding: 40px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #32cd32;
}

a.hover {
	color: #3cb371;
}
